.body {

    font-family: Arial, Helvetica, sans-serif;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
span {
    color: #E23D3D;

}

.navbar img {
    margin-left: 50px;
    cursor: pointer;
}

.landing {
    background-image: url(./assests/hero-1.svg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.herotext {
    margin: 200px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: #ffffff6e;
    border-radius: 20px;
    padding-left: 40px;
}

.herotext h1 {
    width: 85%;
    font-size: 54px;
    font-weight: bold;
    padding-bottom: 40px;
}

.herotext p span {
    margin-bottom: 80px;

}

.herotext p {
    font-size: 28px;
    padding-bottom: 40px;

}

.btn1 {
    height: 60px;
    /* width: 200px; */
    margin-left: 10px;
    margin-bottom: 40px;

}.center .btn1{
    color: white;
    height: 50px;
}
.center .btn-sm{
    margin-top: 20px;
    position: absolute;
    left: 40%;
}
.center{
    margin-bottom: 90px;
}

.btn-sm h2{
    font-size: 24px;
}

.btn h2 {
    font-size: 32px;
    font-weight: normal;
}

.weoffer {
    /* height: 90vh; */
    padding-top: 40px;
    z-index: 1;
    margin: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cardsgroup{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 40px;
    justify-content: space-between;
}
.cards{
    /* box-shadow: 2px 2px #ececec; */
    display: grid;
    grid-template-columns:60% auto;
}

.section1 h1{
    font-size: 24px;
}
.team{
    margin: 100px;
    margin-bottom: 40px;
    margin-top:20px;
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 20px;
}
.teamtext{
    padding-top:140px;
}
.teamtext{
  width: 70%; 
  margin-left: 120px; 
  text-align: center;
}

.card2 p:hover{
    cursor: pointer;
    color: #E23D3D;
}
.teamcards{
    display: grid;
    grid-template-columns: auto auto;
}
.teamtext button{
   height: 40px;
  width: 60%;
  padding: 10px;
  margin-top: 20px;
}
.procedure{
    margin: 200px;
    margin-top: 0px;
}
.proceduretitle{
    margin-left: -90px;
}