.margingiven{
    margin: 150px;
    margin-top: 20px;
}
.serviesdetails{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 100px;

}
ul li:hover{
    cursor: pointer;
    color: tomato;
}
.bot{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.dark-bg{
    background-color: #1f1f1f;
    padding: 40px;
}